.form_container {

  margin-top: 100px;

  .form_container__settings{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    label {
      font-size: 17px;
    }

    select {
      width: 40px;
      height: 30px;
      font-weight: bold;
      outline: none;
      text-align: center;
      border: 1px solid #b507c7;
      border-radius: 5px;
      background-color: white;
    }
  }

  .form_container__steps {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap-reverse;
    max-width: 80%;
    margin: 0 auto;
    .form_container__steps__step {
      margin: 20px 15px;

    }
  }


}